/*=== Smart Phones  = Extra Small Screen[XS]===*/

@media (max-width: 576px) {
    /*--=== Start Upper Section ===*/
    
    .pd-v{
        padding: 7% 0 
    }
    
    p {
        width: 100% ! important;
        font-size: 14px;
        line-height: 1.5
    }
    
    .upper-sec .row > div {
        padding: 0;
        margin-bottom: 10px
    }

    /*--=== Start slider ===*/
    .slider .overlay h1 {
        font-size: 20px
    }
    

    /*--=== Start features ===*/
    .features h2 {
        color: #08526d;
        font-size: 16px;
        font-weight: 700;
    }
   
     /*--=== Start Company Overview ===*/
    .overview .h1 {
        font-size: 25px;
        font-weight: bold;
    }


    /*--=== Start Feature Work ===*/
    .feat-work .h1 {
        font-size: 25px;
        font-weight: bold;
    }

    /*--=== Start Latest Postes ===*/
    .latest-postes .h1 {
        font-size: 25px;
        font-weight: bold;
    }

    /*--=== Start Contact ===*/
    .contact{
        font-size: 14px
    }
    
    /*--=== Start Footer And Copyrights ===*/
    
    footer h2{
        margin: 20px 0 10px 0
    }
    
    footer .contact-us li{
        margin-bottom: 10px
    }
    
    .copyrights .copy{
        font-size: 14px;
        margin-bottom: 10px
    }

}


/*=== Taplets Small Screens[SM] ====*/

@media (min-width: 577px) and (max-width: 767px) {}


/*=== Laptop Medium Screens[Md] ====*/

@media (min-width: 768px) and (max-width: 991px) {}


/*=== Disktop Larg Screens[Lg] ===*/

@media (min-width: 992px) and (max-width: 1199px) {}


/*=== X Larg Screens[xLg] ===*/

@media (min-width: 1200px) {}
