
/*--==============================================
            Start  NavBar
=================================================*/

/* =========== Active Link Background ============== */
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover{background: none}

/* ======== Brand  ============ */
.navbar-inverse .navbar-brand {font-family: cursive; color: #BBB;}
.navbar-inverse .navbar-brand span { color: #FF8B38}

/* ======== navbar Button Toggole in mobile ========*/


/* =========  Links Color ======================*/
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>.active>a {color: #9d9d9d;}

.navbar{margin-bottom: 0}
.nav-scrolled{background-color: rgba(0, 0, 0, .8)}
/*--==============================================
            End  NavBar
=================================================*/





/*--==============================================
            Start Header
=================================================*/
.header{
    padding-top: 51.2px;
    color: #FFF;
    background: url('../img/header.png') no-repeat top center;
    background-size: cover;
    min-height: 638px;
}

.header .overlay{
    background: rgba(3,3,3,.6);
    width: 100%;
    min-height: 638px;
    padding-top: 100px;
    padding-bottom: 50px
}


.header .overlay h1{font-size: 60px}
.header .overlay h1 span{color: #FF8B38}
.header .overlay h1~.lead{font-size: 30px}
.header .overlay button{margin: 10px 0; background: transparent;border: 2px solid #FFF;padding: 4px 18px;margin-bottom: 20px}
.header .overlay form{background: #FFF; border-radius: 5px; color: #000; overflow: hidden}
.header .overlay form h3{background:#F5F5F5;padding: 18px; margin-top: 0}
.header .overlay form h3 span{color: #FF8B38;}
.header .overlay form input{
    display: inline-block;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #CCC;
    width: 80%;
    margin: 15px auto
}
.header .overlay form input[type="submit"] {
    background:#FF8B38;
    color: #FFF;
    width: 100%;
    padding: 18px;
    margin-bottom: 0;
    transition: all .3s ease
}
.header .overlay form input[type="submit"]:hover{color:#000 }
/*--==============================================
            End Header
=================================================*/



/*--==============================================
            Start Social Media
=================================================*/
.social {padding-top: 20px;padding-bottom: 20px}
.social h3{margin: 0}
.social p{margin-top: 5px; line-height: 1.4}
.social i{color: #CCC;margin-right: 20px;transition: all .3s ease;cursor: pointer;margin-bottom: 10px; margin-top: 22px}
.social .fa-facebook:hover{color: #3b5999}
.social .fa-twitter:hover{color: #1DA1F2}
.social .fa-google-plus:hover{color: #DD4B39}
.social .fa-pinterest:hover{color: #BD081C}
.social .fa-instagram:hover{color: #5851DB}
.social .fa-stumbleupon:hover{color: #EB4924}
.social .fa-rss:hover{color: #F26522}
/*--==============================================
            End Social Media
=================================================*/


/*--==============================================
            Start Section Taps
=================================================*/
.taps-sec{padding-top:50px; padding-bottom: 50px; background: #F5F5F5}
.taps-sec ul li{
    height: 120px;
    background: #333;
    color: #FFF;
    line-height: 120px;
    border-bottom: 1px solid #FFF;
    cursor: pointer;
    font-size: 25px
}
.taps-sec ul li.active, .taps-sec ul li:hover{background: #FF8B38; color: #333;font-weight: bold}
.taps-sec .taps-content h2{margin-top: 0; font-weight: bold}
.taps-sec .taps-content p{color: #7e7e7e; font-size: 20px}
.taps-sec .taps-content button{
    padding: 10px 15px;
    background: #FF8B38;
    color:#FFF;
    border-radius: 5px;
    border: none;
    outline: none; 
}
.taps-sec .taps-content button:hover{color:#333}
.taps-sec .taps-content div:not(.tap-one){display: none}
/*--==============================================
            End Section Taps
=================================================*/



/*--==============================================
            Start Sublist
=================================================*/
.sublist{padding-top: 70px; padding-bottom: 70px}
.sublist .img img{margin-top: 40px}
.sublist .sublist-content h3{ font-weight: bold;}
.sublist .sublist-content p{margin-bottom: 30px; color: #7e7e7e}
.sublist .sublist-content .media-left a{
    border: 2px solid #FF8B38;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 20px 20px 0 0;
    text-align: center;
    color: #FF8B38
}
.sublist .sublist-content .media-body, 
.sublist .sublist-content .media-body p {color: #319cd5} 

/*--==============================================
            Start Sublist
=================================================*/
.standard-picture{padding-top: 70px;padding-bottom: 70px;background: #F5F5F5}
.standard-picture .standard-content{margin-top: 50px}
.standard-picture .standard-content h3{font-weight: bold}
.standard-picture .standard-content p{color: #7e7e7e; line-height: 1.7 }
/*--==============================================
            Start Sublist
=================================================*/





/*--==============================================
            Start This Awesome
=================================================*/
.this-awesome{padding-top: 50px; padding-bottom: 50px}
.this-awesome h2{font-weight: bold;text-transform: uppercase;}
.this-awesome h2~p{color: #7e7e7e;margin-bottom: 30px }
.this-awesome i{   
    width: 70px;
    height: 70px;
    border: 2px solid #FF8B38;
    border-radius: 50%;
    color: #FF8B38;
    line-height: 70px
}
.this-awesome i~h3{font-weight: bold; margin-bottom: 20px}
.this-awesome h3~p{color: #7e7e7e;margin-bottom: 30px}



/*--==============================================
            End This Awesome
=================================================*/




/*--==============================================
            Start Pricing Option
=================================================*/
.pricing-section{padding-top: 50px; padding-bottom: 50px; background: #F5F5F5}
.pricing-section h2{font-weight: bold;}
.pricing-section h2~p{color: #7e7e7e;margin-bottom: 30px }
.pricing-section .price-option:first-of-type{margin-top: 41px}
.pricing-section .price-option:last-of-type{margin-top: 41px}
.pricing-section .price-option h3{
    background: #333;
    padding: 15px;
    color: #FFF;
    border-bottom: 1px solid #FFF;
    margin-bottom: 0
}
.pricing-section .price-option .option{
    background: #333;
    border-bottom: 5px solid #FF8B38;
    color: #FFF;
    padding: 10px;
    font-size: 40px;
}
.pricing-section .price-option .option span{font-size: 70px}
.pricing-section .price-option .option p{color: #ADADAD; font-size: 15px}
.pricing-section .price-option .most-pop{background: #FF8B38; color: #fff;padding: 8px;margin-bottom: 0}
.pricing-section .price-option ul{background: #FFF;}
.pricing-section .price-option ul li{color: #8C8C8C; border-bottom: 1px solid #F5F5F5;padding: 10px}
/*--==============================================
            End Pricing Option
=================================================*/



/*--==============================================
            Start Others Says
=================================================*/

.others-says{padding-top: 70px; padding-bottom: 50px}
.others-says h2~p{color: #ADADAD; margin-bottom: 40px}
.others-says .content {background: #F5F5F5; padding: 20px;position: relative; margin-bottom: 20px;}
.others-says .content p{color: #8e8f93}
.others-says .content:after{
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background:  #F5F5F5;
    transform:  rotate(40deg);
    bottom: -8px;
    left: 26px
        
}
.others-says .img {padding-top: 10px; margin-bottom: 30px}
.others-says .img img{border: 1px solid #DDD; border-radius: 50%; padding: 5px; float: left; margin-right: 10px}
.others-says .img h4{margin-top: 20px; font-weight: bold}
.others-says .img span{color: #a9aaac}
/*--==============================================
            End Others Says
=================================================*/

/*--==============================================
            Start Download Design
=================================================*/
.dl-design{
    background: url('../img/stylish.png') no-repeat;
    background-size: cover;
    min-height: 320px;
}
.dl-design .overlay{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #FFF;
    width: 100%;
    height: 100%;
    background: rgba(0,0, 0, .6)
}
.dl-design .overlay p{color: #a9aaac; margin-bottom: 40px}
.dl-design .overlay button {
    background: transparent;
    padding: 7px 15px;
    color: #FFF;
    border: 2px solid #FFF;
    margin-bottom: 20px
}
/*--==============================================
            End Download Design
===============================================



/*--==============================================
            Start contact-us
=================================================*/
.contact-us{padding-top: 50px; padding-bottom: 50px; background: #FFF}
.contact-us p{color: #a9aaac; margin-bottom: 50px}
.contact-us form .row {margin-bottom: 30px}
.contact-us form input{
    display: inline-block;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    margin: 15px auto;
    font-size: 18px

}
.contact-us form textarea{
    border: none;
    height: 212px;
    resize: none;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px; 
    margin-bottom: 10px;
    outline: none;
    -webkit-box-shadow: none
}
.contact-us button{
    background: #FF8B38;
    color: #FFF;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
    border: none;

}
/*--==============================================
            End contact-us
=================================================*/







/*--==============================================
            Start Footer
=================================================*/

footer{
    background: #000000;
    color: #FFF;
    padding: 20px;
    font-size: 25px
}
footer a{text-decoration: none; color: #FF8B38}

/*--==============================================
            End Footer
=================================================*/





/*--==============================================
            Start Frame Work
=================================================*/

.uppercase{text-transform: uppercase}
.under-line:after{
    content: " ";
    height: 3px;
    width: 70px;
    background:#FF8B38;
    margin-left: 0;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px
}
.under-line-center:after{
    content: " ";
    height: 3px;
    width: 70px;
    background:#FF8B38;
    margin-left: 0;
    display: block;
    margin-top: 20px;
    margin: 20px auto;
}

/*--==============================================
            End Frame Work
=================================================*/


