body{background: #234460}

.navigation{
    display: block;
    height: 14px;
    background: #478bd4;
}

.personal-info{
    background: #234460;
    padding: 20px;
    height: 100%;
    display: inline-block;
    color: #777
}
.profile-pic{display: block; width: 100%}
.profile-pic {
    display: block;
    width: 60%;
    text-align: center;
    margin: 10px auto;
}
.profile-pic  img {
    max-width: 100%
}

/*Start Details Section*/
.personal-info strong{ color: #c1c7cd; display: inline-block; width: auto; margin-right: 5px}
.personal-info .info{ margin-left: 20px}
.personal-info li{line-height: 1.7}
.personal-info p,
.personal-info li{color: #afafaf}
.personal-info h2{color: #c1c7cd;}
 
/*========================*/

/*Start contact  Section*/
.contact-info{
    margin-left: 20px;
}
.contact-info p{
    display: inline-block;
    margin-left: 10px
}
.personal-info i{
    font-size: 20px;
    margin-bottom: 20px;
    color: #337ab7;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    line-height: 35px;
    background: #FFF;
}

.contact-info .social a{
    text-decoration: none;

}
.contact-info .social i{
    font-size: 30px; margin-right: 5px; transition: all .5s ease; color: #999; border: none; background: none
}
.contact-info .social .facebook:hover{
    color: #4267b2;
}
.contact-info .social .twitter:hover{
    color: #1da1f2
}
.contact-info .social .linkedin:hover{
    color: #01649b
}
.contact-info .social .github:hover{
    color: #000
}


.education p{
    margin-left: 20px
}
/*============================*/

/*= Start CV Body =*/

.cv-body{
    display: block;
    max-width: 100%;
    background: #f7f7f7;
    /*background: linear-gradient(to bottom left, #710909, #191142 78%);*/
    /*background: linear-gradient(to bottom left, #153777, #921582);*/
}
.cv-body section{padding: 10px 50px; }
.cv-body .profile h3{
    margin-bottom: 50px
}
.cv-body h2{letter-spacing: 10px; text-transform:uppercase;margin-bottom: 20px}
.cv-body  p{width: 60%; color: #a09e9e; }
.cv-body  p.lead{font-size: 18px}

.progress { height: 5px; /*width: 30%;*/ background-color: #eaeaea;}
.cv-body strong{ color: #478bd4; display: inline-block;}
.cv-body  li{font-size: 16px; line-height: 1.7; color:#a09e9e }

/*===============================*/

/*= Start portfolio  =*/
.portfolio button{
    padding: 10px 15px;
    margin-right: 10px;
    background: none;
    color: #afafaf;
    border: 1px solid #478bd4;
    margin: 20px 10px 20px 0
}

.portfolio button:focus{outline: none}

.portfolio button.active{
    background: #478bd4;
    color: #FFF
}

.portfolio .row>div {padding: 0}
/*
.portfolio .project {
    border: 1px solid #478bd4;
    height: 150px;
    margin: 20px 0;
    overflow: hidden;
    transition: all .8s ease;
    border-radius: 5px;
    position: relative;
    width: 220px;
    height: 220px
}

.portfolio .project .overlay{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    color: #FFF;
    padding: 10px;
    text-align: center;
    transition: all .4s ease-out;
}
.portfolio .project .overlay > div {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    background: rgba(3,3,3,.78);
    transition: all .4s ease-out;
}
.overlay .caption{ top: -70%; height: 60%}
.overlay .link{bottom: -50%; height: 40%;}
.overlay p{ color: #FFF; width: 90%;margin: 8% auto; margin-bottom: 15px}
.overlay a {text-decoration: none; color: #00adff; margin-left: 10px}
.overlay a:hover {color: #337ab7}

.portfolio .overlay:hover .caption{
    animation: caption-motio .7s ease-out both
}

.portfolio .overlay:hover .link{
    bottom: 0
}

@keyframes caption-motio {
    25%{
        top: -50%
    }
    50%{
        top: 0
    }
    75%{
        top: -25px
    }
    100%{
        top: 0px
    }

}

@keyframes link-motio {
    20%{
        top: -40%
    }
    40%{
        top: -30%
    }
    50%{
        top: -20%
    }
    60%{
        top: -10%
    }
    70%{
        bottom: 0
    }
    75%{
        bottom: -25px
    }
    100%{
        bottom: 0px
    }

}

.facefamily {
    background: url('../img/ff.jpg') no-repeat;
    background-size: cover;
    background-position: -1px;
}
.bootstrap {
    background: url('../img/bootstrap.png') no-repeat;
    background-size: cover;
    background-position: center center;
}
.thecode {
    background: url('../img/thecode.png') no-repeat;
    background-position: 10px;
}
.axti {
    background: url('../img/atix.png') no-repeat
}
.junt-travel {
    background: url('../img/junt.jpg') no-repeat
}

*/


figure.effect-sadie{cursor: default}
figure.effect-sadie a{
    float: right;
    display: block;
    margin-bottom: -21px;
    width: 50px;
    height: 50px;
    margin-right: -24px;
    display: inline-block;
}
figure.effect-sadie:hover a:first-child i {
    width: 45px;
    height: 45px;
    line-height: 40px;
    border: 2px solid #FFF;
    color: #FFF;
    text-align: center;
    border-radius: 50%;
    background: none;
    transition: all .4s ease-out;
    
}
figure.effect-sadie:hover a:first-child:hover i{
  color: #f9a918;
}
.grid figure h2{
    margin: 0;
    background: #140808a8;
    margin-left: 15px;
    display: inline-block;
    width: auto;
    padding: 5px;
}
/*===============================*/

/*==== Start Footer ====*/

.footer {background: #173147}
.footer .content{
    padding: 12px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #adacac;
    margin: auto
}
/*===============================*/


.no-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
h1{
    color: #c1c7cd;
    font-size: 20px;
    font-weight: bold;
    word-spacing: 4px;
}
h2{
    color: #337ab7;
    font-weight: bold;
    font-size: 20px;
    word-spacing: 5px;
    margin-bottom: 20px
}
h3{
    color: #afafaf;
    font-weight: bold;
    word-spacing: 5px;
    font-size: 14px
}
.teck-skills h3{
    color: #337ab7;
    word-spacing: 5px;
    text-align: center;
    margin-top: 0;
    font-size: 17px
}

hr{
    background: #4d7379;
    height: 1px;
    border: none;
}

/*--=======  Start Button scroll top ==========-*/

#scroll-top{
    position: fixed;
    right: 15px;
    bottom: 15px;
    padding: 5px 5px 8px;
    text-align: center;
    background: #234460;
    color: #FFF;
    border-radius: 4px;
    z-index: 9999;
    display: none;
    cursor: pointer
}



/*Start Circle Progress */
/*
.teck-skills .row > div {display: inline-block; margin-bottom: 20px}
    .progress {
            width: 50px;
            height: 50px;
            line-height: 100px;
            background: none;
            box-shadow: none;
            position: relative;
            margin: 10px auto;
        }

        .progress:after {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 4px solid #fff;
            position: absolute;
            top: 0;
            left: 0;
        }


        .progress>span {
            width: 50%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            z-index: 1;
        }

        .progress .progress-left {
            left: 0;
        }

        .progress .progress-bar {
            width: 100%;
            height: 100%;
            background: none;
            border-width: 4px;
            border-style: solid;
            position: absolute;
            top: 0;
        }

        .progress .progress-left .progress-bar {
            left: 100%;
            border-top-right-radius: 80px;
            border-bottom-right-radius: 80px;
            border-left: 0;
            -webkit-transform-origin: center left;
            transform-origin: center left;
        }

        .progress .progress-right {
            right: 0;
        }

        .progress .progress-right .progress-bar {
            left: -100%;
            border-top-left-radius: 80px;
            border-bottom-left-radius: 80px;
            border-right: 0;
            -webkit-transform-origin: center right;
            transform-origin: center right;
            animation: loading-1 1.8s linear forwards;
        }

        .progress .progress-value {
            width: 90%;
            height: 90%;
            border-radius: 50%;
            background: #44484b;
            font-size: 15px;
            color: #fff;
            line-height: 50px;
            text-align: center;
            position: absolute;
            top: 5%;
            left: 8%;
        }

        .progress.blue .progress-bar {
            border-color: #049dff;
        }

        .progress.blue .progress-left .progress-bar {
            animation: loading-2 1.5s linear forwards 1.8s;
        }

        .progress.yellow .progress-bar {
            border-color: #fdba04;
        }

        .progress.yellow .progress-left .progress-bar {
            animation: loading-3 1s linear forwards 1.8s;
        }

        .progress.pink .progress-bar {
            border-color: #ed687c;
        }

        .progress.pink .progress-left .progress-bar {
            animation: loading-4 0.4s linear forwards 1.8s;
        }

        .progress.green .progress-bar {
            border-color: #1abc9c;
        }

        .progress.green .progress-left .progress-bar {
            animation: loading-5 1.2s linear forwards 1.8s;
        }

        @keyframes loading-1 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }

        @keyframes loading-2 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(144deg);
                transform: rotate(144deg);
            }
        }

        @keyframes loading-3 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }

        @keyframes loading-4 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(36deg);
                transform: rotate(36deg);
            }
        }

        @keyframes loading-5 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(126deg);
                transform: rotate(126deg);
            }
        }
*/
/*End Circle Progress */
      
